.song-item {
  display: flex;
  flex-direction: row;
  margin: 0px var(--item-side-margin) 3px var(--item-side-margin);
  padding: 10px;
  border: 1px solid var(--purple);
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--item-shadow) var(--purple);
}

.song-play-icon,
.song-pause-icon {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 25px;
  height: 25px;
  color: var(--purple);
  border: 2px solid var(--purple);
  border-radius: 50%;
}

.song-image-button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.song-image-button:hover {
  filter: brightness(0.6);
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.song-info h3 {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--white);
}

.song-info p {
  font-family: var(--font-family);
  font-size: 13px;
  color: var(--grey);
}
