.app-footer {
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 1rem;
  width: 100%;
  border-top: 1px solid var(--purple);
  background-color: #111111;
}

.footer-track {
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  gap: 1rem;
  width: 33%;
}

.footer-song-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.footer-song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.footer-song-info h3 {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--white);
}

.footer-song-info p {
  font-family: var(--font-family);
  font-size: 13px;
  color: var(--grey);
}

.footer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 33%;
}
