* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-width: 60%;
  --font-family: "Gill Sans MT";
  --special-font-family: sans-serif;
  --item-shadow: 1px;
  --item-side-margin: var(--item-shadow);
  --purple: #4c00ff;
  --white: #d8d8d8;
  --black: #111111;
  --hover-purple: #4c00ffd4;
  --active-purple: #4c00ffb3;
  --grey: #6e6e6e;
}

.App {
  display: flex;
  align-items: center;
  background-color: var(--black);
  display: flex;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}

main {
  /* background-color: #ffffff; */
  width: var(--main-width);
  min-height: 100vh;
  margin-top: 140px;
}

main .filters {
  margin: 15px 0px;
}
